.navMain {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listLinkIten {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
}
.listLinkIten.last {
  margin-right: 3rem;
}
.menuItem {
  font-size: medium;
  text-decoration: none;
}
