* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 3;
  font-family: "Poppins", sans-serif;
}
h1 {
  color: rgb(219, 218, 218);
  margin-bottom: 1em;
  font-family: "Sen", sans-serif;
}
.bold {
  font-weight: bold;
  color: rgb(219, 218, 218);
}
.h2 {
  font-family: "Sen", sans-serif;
  color: rgb(219, 218, 218);
}
html,
body {
  height: 100%;
  background: url("./assets/girl-gf76a29803_1920 (1).jpg");
  background-size: cover;
}
.maskContainer {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}
